.pokedex__left {
    width: 30em;
    height: 38em;
    display: flex;
    background-color: crimson;
    box-shadow: 8px 8px 0px 5px darkred;
    border: 4px solid #000;
    border-radius: 10px;
    flex-direction: column;
    padding-bottom: 4.3em;
    font-size: 1em;
    position: relative;
    background-color: #d5092b;  
    translate: 2px;
}

.pokedex__left-wrapper {
    position: relative;
    top: 10em;
}

.pokedex__left-screen {
    height: 15em;
    width: 20em;
    font-family: VT323;
}


.pokemon__image {
    width: 200px;
    height: 200px;
}

.pokedex__left-screen__name {
    position: relative;
    top: 2em;
    right: 3em;
    width: 4em;
    color: #fff;
    background-color: #47ab57;
    font-size: 1.7em;
    box-shadow: inset 1px 1px 3px #000
}


.initialization {
    animation: init 2s linear infinite;
    animation-direction: alternate ;
}

@keyframes init {
    from { opacity: 0;}
    to { opacity: 1;}
}