.pokedex__screen {
    width: 20em;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 1.2em 2.4em;
    text-align: center;
    margin: 0 auto;
    box-shadow: inset 1px 1px 3px rgba(255, 255, 255, 57);
}

.pokedex__screen>p{
    position: relative;
    top:50%;
    transform: translateY(-50%);
}