.pokedex {
    width: 100%;
    /* min-height: 80vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    position: relative;
}

.devider {
    position: absolute;
    z-index: 10;
    bottom: 5rem;
}